/* CUSTOM CSS FOR THE FRONT PAGE */

.home-top-spacing{
  height:100px;
}

.home-top-img{
  position:absolute;
  background-image: url("../img/tree.jpg");
  background-size: cover;
  width:100%;
  height:100%;
  z-index: -2;
}

.home-top-shade{
  position:absolute;
  background-color: black;
  opacity: 0.4;
  height:100%;
  width:100%;
  z-index:-1
}

.home-top{
  height:100%;
  color: black;
}

.statement{
  margin-top: 10%;
}

#statement-top{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

#statement-bot{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.change-btn-wrap{
  width:100%;
  text-align:center;
  margin-top:2rem;
}

.change-btn{
  width:15rem;
  height:3rem;
  background-color:#44A463;
  color:white;
  border:none;
  border-radius: 2rem;
  font-size: large;
  font-weight: 500;
  margin:auto;
}

.vis-and-mis{
  position: absolute;
  top:100%;
  background-image: url("../img/tree1.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.vision{
  margin-top:8%;
}

#vis-title{
  color: #7EAB55;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom:1rem;
}

#vis-body{
  color: black;
  margin:auto;
  width:80%;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.mission{
  color: black;
  margin-top:4rem;
}

#mis-title{
  color: #7EAB55;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom:1rem;
}

.mis-sub-head{
  width:100%;
  text-align: center;
  color:black;
  font-size: x-large;
  font-weight: 500;
}

.mis-body{
  color:black;
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  width:80%;
  margin:auto;
}

.web{
  position: absolute;
  top: 200%;
}

/* #web-title{
  color: #fff;
} */