/* CUSTOM CSS FOR THE FRONT PAGE */

.home-top-spacing{
  height:25vh;
}

.home-top-img{
  position:absolute;
  background-image: url("../img/tree.jpg");
  background-size: cover;
  width:100%;
  height:100%;
  z-index: -2;
}

.home-top-shade{
  position:absolute;
  background-color: black;
  opacity: 0.5;
  height:100%;
  width:100%;
  z-index:-1
}

.home-top{
  height:100vh;
  color: black;
}

.statement{
  margin-top: 10%;
}

#statement-top{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

#statement-bot{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.change-btn-wrap{
  width:100%;
  text-align:center;
  margin-top:2rem;
}

.change-btn{
  width:15rem;
  height:3rem;
  background-color:#44A463;
  color:white;
  border:none;
  border-radius: 2rem;
  font-size: large;
  font-weight: 500;
  margin:auto;
}

.vis-and-mis-wrapper-outer{
  position: relative;
  width:100%;
  height:100%;
}

.vis-and-mis-wrapper-inner{
  position: absolute;
  top:12%;
  width:100%;
  height:fit-content;
}

.vis-and-mis{
  background-color: #FBF7F7;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 600px;
}

.vision{
  padding-top: 0;
}

#vis-title{
  color: #7EAB55;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom:1rem;
}

#vis-body{
  color: black;
  margin:auto;
  width:80%;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.mission{
  color: black;
  margin-top:4rem;
}

#mis-title{
  color: #7EAB55;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom:1rem;
}

.mis-sub-head{
  width:100%;
  text-align: center;
  color:black;
  font-size: x-large;
  font-weight: 500;
}

.mis-body{
  color:black;
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  width:80%;
  margin:auto;
}

.web{
  position: absolute;
  top: 200%;
}

section{
  height: 100%;
}


/* SLANT DIVS */
.contents-wrapper{
  height: 50vh;
  background-attachment: fixed;
  background-size: contain;
  margin-bottom: 1rem;
}

.more-btn-wrap{
  width:100%;
  text-align:center;
  margin-top:2rem;
}

.more-btn{
  width:15rem;
  height:3rem;
  background-color:#375f44;
  color:white;
  border:none;
  border-radius: 2rem;
  font-size: large;
  font-weight: 500;
  margin:auto;
}

/* CONTENTS LEFT */
.information-left{
  height: 100%;
  padding: 60px 0;
  background: linear-gradient(65deg, rgb(255, 255, 255) 50%, transparent 0%);
  display: flex;
}

.details-left{
  justify-content: center;
  width: 40%;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 3em;
  text-align: center;
}

.details-left h1{
  text-align: center;
  padding-bottom: 20px;
}

/* CONTENTS RIGHT */
.information-right{
  height: 100%;
  padding: 60px 0;
  background: linear-gradient(-65deg, rgb(255, 255, 255) 50%, transparent 0%);
  display: flex;
}

.details-right{
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 3em;
  text-align: center;
}

.details-right h1{
  text-align: center;
  padding-bottom: 20px;
}
/* WEBINARS */
#webinars{
  background-image: url("../img/web.jpg");
}

/* COMMUNITY */
#community{
  background-image: url("../img/community.jpg");
}

/* YOUTHS */
#youths{
  background-image: url("../img/youths.jpg");
}

/* RESEARCH & WHITEPAPERS */
#research{
  background-image: url("../img/research.jpg");
}

/* ARTICLES */
#articles{
  background-image: url("../img/sus.jpg");
}
