/* CUSTOM CSS FOR THE OUR WEBINARS TEMPLATE */

.navbar-spacing{
  height:110px;
  width:100%;
  background-color: black;
}

.our-webinars-intro{
  color:black;
  width:100%;
  height:fit-content;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

.intro-title{
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}

.intro-content{
  height:fit-content;
  width:60%;
  margin:auto;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.webinar-container{
  width:75vw;
  height:80vh;
  background-color: white;
  color:black;
  margin:0 auto 10vh auto;
  white-space: nowrap;
  padding-left:1rem;
  padding-right:1rem;
  border-radius: 15px;
}

.webinar-row{
  height:100% !important;
}

.webinar-img{
  width:40vw;
  vertical-align: middle;
  margin:auto;
}

.center-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.webinar-content-wrapper{
  display: flex;
  justify-content: center;
  width:100%;
  height:100%;
  align-items: center;
}

.webinar-content{
  padding: 1rem;
  align-self: center;
  height:fit-content;
  width:100%;
}

.webinar-title{
  font-size: x-large;
  text-align: center;
  font-weight: 500;
  white-space: initial;
  margin-bottom:1rem;
}

.webinar-description{
  white-space: initial;
  margin-bottom:2rem;
}

.webinar-details{
  text-align: center;
  margin-bottom: 3rem;
}

.reg-btn-wrapper{
  height:fit-content;
  width:100%;
  text-align: center;
}

.reg-btn{
  background-color: #CDE4B3;
  color:black;
  width:8rem;
  height:2.5rem;
  border:none;
  border-radius: 2rem;
  font-size: large;
  font-weight: 500;
}


/* STYLES FOR CARD WEBINAR */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

  }

